<header id= "header">

  <img id= "logo" src= "./assets/logo.png" alt>

<div>
<app-barre-de-recherche></app-barre-de-recherche>
</div>
<br>

<div class="container page-wrap">
    <ul>
      <li><a href= ""> <span>ACCUEIL</span></a></li>
      <li><a href= "produits"> <span>OFFRES</span></a></li>
      <li><a href= "cours"> <span>AIDES AUX DEVOIRS</span></a></li>
      <li class= "active"><a href= "/forum"> <span>FORUM</span></a></li>
    </ul>
</div>

<br>

<div class="container page-wrap">
  <br>
  <h1 align="center">Forum Studenity</h1>
  <button align="left" class="btn btn-success" type="submit" (click)="onQuiz()">Poser une question</button>
  <div align ="center" class= "caroussel">
    <img src= "./assets/Frm.jpg" alt><div>
      </div>
      <br>
    </div>
  </div>

</header>
