<img id= "logo" src= "./assets/logo.jpg" alt>

<div>
  <app-barre-de-recherche></app-barre-de-recherche>
</div>
<br>

<div class="container page-wrap">
  <header id= "header">
    <ul>
      <li><a href= ""> <span>ACCUEIL</span></a></li>
      <li><a href= "produits"> <span>OFFRES</span></a></li>
      <li><a href= "cours"> <span>AIDES AUX DEVOIRS</span></a></li>
      <li class= "active"><a href= "/forum"> <span>FORUM</span></a></li>
    </ul>
  </header>
</div>

<br>

<div class="container">
<h1 align="center">Posez votre question</h1>
  <div class="row">
    <div class="col-xs-12">
      <div align="center">
        <textarea placeholder="Votre question" required></textarea>
      </div>
      <div align="center">
        <button class="btn btn-success" type="submit">Soumettre</button>
      </div>
    </div>
  </div>
</div>
