<form class="formAjout">

  <h1 mat-dialog-title>Ajouter un nouveau produit</h1>

    <mat-label>Nom</mat-label>
    <input [(ngModel)]="data.name" name="nom">

    

    <mat-label>Prix du produit</mat-label>
    <input matInput [(ngModel)]="data.price" name="prix">

 
    <mat-label>Description</mat-label>
    <input [(ngModel)]="data.description" name="desc">


  
    <mat-label>Quantité</mat-label>
    <input [(ngModel)]="data.quantity" name="qte">
  

  
    <mat-label>Categorie</mat-label>
    <mat-select [(value)]="data.categoryCode" name="cat">
        <mat-option  value="1">Livre</mat-option >
        <mat-option value="2">Equipement</mat-option >
        <mat-option value="3">Autre</mat-option >
      </mat-select>
 

  
    <mat-label>Statut</mat-label>
    <mat-select [(value)]="data.statusCode" name="stat">
        <mat-option value="1">Neuf</mat-option>
        <mat-option value="2">Reconditionné en bon état</mat-option>
      </mat-select>

      <mat-label>Image du produit</mat-label>
      <input [(ngModel)]="data.image" name="img"
      type="file" (change)="onFileChanged($event)"
      #fileInput>
      
  


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
</div>

</form>


<style>
.formAjout{
  height: 600px;
  background-color: white;
}

.champs{
  width: 75%;
}
 

</style>

