<form class="formAjout">

  <h1 mat-dialog-title>Ajouter un nouveau produit</h1>

    <label>Nom</label>
    <input [(ngModel)]="data.name" name="nom">
 

    <label>Prix du produit</label>
    <input [(ngModel)]="data.price" name="prix">

 
    <label>Description</label>
    <input [(ngModel)]="data.description" name="desc">


  
    <label>Quantité</label>
    <input [(ngModel)]="data.quantity" name="qte">
  

  
    <label>Categorie</label>
    <mat-select [(value)]="data.categoryCode" name="cat">
        <option value="1">Livre</option>
        <option value="2">Equipement</option>
        <option value="3">Autre</option>
      </mat-select>
 

  
    <label>Statut</label>
    <mat-select [(value)]="data.statusCode" name="stat">
        <mat-option value="1">Neuf</mat-option>
        <mat-option value="2">Reconditionné en bon état</mat-option>
      </mat-select>

      <label>Image du produit</label>
      <input [(ngModel)]="data.image" name="img"
      type="file" (change)="onFileChanged($event)"
      #fileInput>
      
  


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Valider</button>
</div>

</form>


<style>
.formAjout{
  height: 600px;
  background-color: white;
}

.champs{
  width: 75%;
}
 

</style>



