<form class="formAjout">

  <h1 mat-dialog-title>Ajouter un nouveau produit</h1>

  <mat-form-field class="champs" appearance="fill">
    <label>Nom</label>
    <input [(ngModel)]="data.name">
  </mat-form-field>

  <mat-form-field class="champs" appearance="fill">
    <label>Prix du produit</label>
    <input [(ngModel)]="data.price">
  </mat-form-field>

  <mat-form-field class="champs" appearance="fill">
    <label>Description</label>
    <input [(ngModel)]="data.description">
  </mat-form-field>

  <mat-form-field class="champs" appearance="fill">
    <label>Categorie</label>
    <mat-select>
        <option value="1">Livre</option>
        <option value="2">Equipement</option>
        <option value="3">Autre</option>
      </mat-select>
  </mat-form-field>

  <mat-form-field class="champs" appearance="fill">
    <label>Statut</label>
    <mat-select>
        <mat-option value="1">Neuf</mat-option>
        <mat-option value="2">Reconditionné en bon état</mat-option>
      </mat-select>
  </mat-form-field>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button cdkFocusInitial>Valider</button>
</div>

</form>


<style>
.formAjout{
  height: 600px;
  background-color: white;
}

.champs{
  width: 75%;
}
 

</style>



