<body>
  <!-- <header id= "header"> -->
<!--
 <img id= "logo" src= "./assets/logo.png" alt> -->

   <!--<div class= "searchbar" style= "margin-left: 530px; margin-top: -68px;padding-bottom: 60px;">
    <input
      placeholder="Rechercher"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [(ngModel)]=" data"
    >
    <button class="btn btn-primary b"  (click)="rechercher()"> Rechercher </button>
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>

    <div style="margin-top: -30px;margin-left: 16px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#999" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </div>
    <div style="margin-top: -25px;margin-left: 320px;cursor: pointer;">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#999" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
      </svg>
    </div>
  </div>
   -->
  <app-barre-de-recherche></app-barre-de-recherche>

<div class="wrapper">
  <div class="sidebar">
    <br>
   <button class="search-btn" style="float:left; margin-left:0%;margin-top: 0px;" (click) = "newProduct()" >Nouveau produit</button>
     <br>

      <ul>
        <li class= "active"><a href="/produits">Toutes les offres</a></li>
        <li><a [routerLink]="" (click)="findProductByCategory(1)">Livres</a></li>
        <li><a  [routerLink]="" (click)="findProductByCategory(2)">Equipements</a><li>
        <li><a [routerLink]="" (click)="findProductByCategory(3)">Autres</a></li>
      </ul>
  </div>
</div>

<div *ngIf="!filter">
<div class="row">
      <ng-container *ngFor="let item of productList">
          <div class="card col-md-3">
              <img src="{{item.image}}" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
              <p><strong>Prix:</strong> {{item.price}} € </p>
              <p><strong>Quantité:</strong>{{item.quantity}}</p>
              <p><strong>Disponibilité:</strong>{{getAvailability(item.availability)}}</p>
              <button class="btn btn-primary" (click)="addtocart(item)">Ajouter au panier</button>
          </div>
      </ng-container>
  </div>
  </div>
  <div *ngIf="filter">
    <div class="row">
          <ng-container *ngFor="let item of productFiltredList">
              <div class="card col-md-3">
                  <img src="{{item.image}}" alt="">
                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
                  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                  <p><strong>Prix:</strong> {{item.price}} € </p>
                  <p class="item-amount mt-4"><strong>Quantité:</strong>{{item.quantity}}</p>
                  <p class="item-amount mt-4"><strong>Disponibilité:</strong>{{getAvailability(item.availability)}}</p>
                  <button class="btn btn-primary" (click)="addtocart(item)">Ajouter au panier</button>
              </div>
          </ng-container>
      </div>
      </div>
  <div class="container page-wrap">

<div class="row"*ngIf="filter">
      <ng-container *ngFor="let item of elementTrouve">
        <div class="card col-md-3">
          <img src="{{item.image}}" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.name}}</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
          <p><strong>Prix:</strong> {{item.price}} € </p>
          <p class="item-amount mt-4"><strong>Quantité:</strong>{{item.quantity}}</p>
          <p class="item-amount mt-4"><strong>Disponibilité:</strong>{{getAvailability(item.availability)}}</p>
          <button class="btn btn-primary" (click)="addtocart(item)" >Ajouter au panier</button>
        </div>
      </ng-container>
    </div>
  </div>
</body>
