<img id= "logo" src= "./assets/logo.jpg" alt>

<div>
  <app-barre-de-recherche></app-barre-de-recherche>
</div>

<br>

<div class="container page-wrap">
  <header id= "header">
    <ul>
      <li><a href= ""> <span>ACCUEIL</span></a></li>
      <li class= "active"><a href= "/produits"> <span>OFFRES</span></a></li>
      <li><a href= "cours"> <span>AIDES AUX DEVOIRS</span></a></li>
      <li><a href= "forum"> <span>FORUM</span></a></li>
    </ul>
  </header>
</div>

<br>
<br>

<script src="https://kit.fontawesome.com/" crossorigin="anonymous"></script>
<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li class= "active"><a href="/produits"><i class="fas fa-project-diagram"></i>Toutes les offres</a></li>
            <li><a href="#"><i class="fa-solid fa-book"></i>Livres</a></li>
            <li><a href="#"><i class="fa-solid fa-book-open-reader"></i>Devoirs</a></li>
            <li><a href="#"><i class="fa-solid fa-computer-classic"></i>Equipements</a></li>
            <li><a href="#"><i class="fa-regular fa-block-question"></i>Autres</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">
            <h1 style="font-size:36pt; text-align: center; color: #d63f1f">Offres disponibles</h1>
        </div>
    </div>
</div>
