<script src="https://kit.fontawesome.com/" crossorigin="anonymous"></script>
<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li class= "active"><a href="/produits"><i class="fas fa-project-diagram"></i>Les Offres</a></li>
            <li><a href="#"><i class="fa-solid fa-book"></i>Livres</a></li>
            <li><a href="#"><i class="fa-solid fa-book-open-reader"></i>Devoirs</a></li>
            <li><a href="#"><i class="fa-solid fa-computer-classic"></i>Equipements</a></li>
            <li><a href="#"><i class="fa-regular fa-block-question"></i>Autre</a></li>
        </ul> 

    </div>
    <div class="main_content">
        <div class="header">
            <h1 style="font-size:36pt; text-align: center; color:rgb(248, 85, 63)">La liste des Offres disponibles</h1> 
        </div>  
       
    </div>
</div>