<header id= "header">

  <img id= "logo" src= "./assets/logo.png" alt>

  <div>
    <app-barre-de-recherche></app-barre-de-recherche>
  </div>

  <br>

  <div class="container page-wrap">
    <ul>
      <li><a href= ""> <span>ACCUEIL</span></a></li>
      <li><a href= "produits"> <span>OFFRES</span></a></li>
      <li class= "active"><a href= "/cours"> <span>AIDES AUX DEVOIRS</span></a></li>
      <li><a href= "forum"> <span>FORUM</span></a></li>
    </ul>
  </div>


  <br>

  <div class="wrapper">
    <div class="sidebar">
      <ul>
        <li class= "active"><a href="/cours">Toutes les cours</a></li>
        <li><a>C1</a></li>
        <li><a>C2</a></li>
        <li><a>C3</a></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="container2">
    <div class="row">
      <ng-container>

      </ng-container>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <ng-container>

      </ng-container>
    </div>
  </div>
</header>
