<img id= "logo" src= "./assets/logo.png" alt>

<div>
  <app-barre-de-recherche></app-barre-de-recherche>
</div>
<br>

<div class="container page-wrap">
  <header id= "header">
    <ul>
      <li><a href= ""> <span>ACCUEIL</span></a></li>
      <li><a href= "produits"> <span>OFFRES</span></a></li>
      <li class= "active"><a href= "/cours"> <span>AIDES AUX DEVOIRS</span></a></li>
      <li><a href= "forum"> <span>FORUM</span></a></li>
    </ul>
  </header>
</div>

<br>
<br>

<div class="wrapper">
  <div class="sidebar">
    <ul>
      <li class= "active"><a href="/cours"><i class="fas fa-project-diagram"></i>Tous les cours</a></li>
      <li><a href="#"><i class="fa-solid fa-book"></i>C1</a></li>
      <li><a href="#"><i class="fa-solid fa-book-open-reader"></i>C2</a></li>
      <li><a href="#"><i class="fa-solid fa-computer-classic"></i>C3</a></li>
      <li><a href="#"><i class="fa-regular fa-block-question"></i>C4</a></li>
    </ul>
  </div>
  <div class="main_content">
    <div class="header">
      <h1 style="font-size:36pt; text-align: center; color: #d63f1f">Cours disponibles</h1>
    </div>
  </div>
</div>
