<img id= "logo" src= "./assets/logo.jpg" alt>

<!-- <div>
  <app-barre-de-recherche></app-barre-de-recherche>
</div> -->
<div class= "searchbar" style= "margin-left: 530px; margin-top: -68px;padding-bottom: 60px;">
  <input
         placeholder="Rechercher"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto"
         [(ngModel)]=" data"
          >
          <button class="btn btn-primary b"  (click)="rechercher()"> Rechercher </button>
          <button class="btn btn-primary a" (click)="openCart()" class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger"></div>
          </button>
<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
         *ngFor="let option of filteredOptions | async"
         [value]="option">
          {{option}}
        </mat-option>
</mat-autocomplete>

  <div style="margin-top: -30px;margin-left: 16px;">
    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="#999" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </div>
  <div style="margin-top: -25px;margin-left: 320px;cursor: pointer;">
    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#999" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
      <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
    </svg>
  </div>
</div>
<br>

<div class="container page-wrap">
  <header id= "header">
        <ul>
          <li class= "active"><a href= "/"> <span>ACCUEIL</span></a></li>
          <li><a href= "produits"> <span>OFFRES</span></a></li>
          <li><a href= "cours"> <span>AIDES AUX DEVOIRS</span></a></li>
          <li><a href= "forum"> <span>FORUM</span></a></li>
        </ul>
  </header>
</div>
<br>
<div class="container page-wrap">
  <body style="margin-top: -50px;">
    <br>
    <div class= 'caroussel_diapo'>
      <input checked id= "carou_un" name= "rotation" type= "radio">
      <label for= "carou_un"></label>
      <input id= "carou_deux" name= "rotation" type= "radio">
      <label for= "carou_deux"></label>
      <input id= "carou_trois" name= "rotation" type= "radio">
      <label for= "carou_trois"></label>
      <input id= "carou_quatre" name= "rotation" type= "radio">
      <label for= "carou_quatre"></label>
      <div class= "contenu_carou">
        <div class= "caroussel">
          <img src= "./assets/livres.jpg" alt>
          <img src= "./assets/cours.jpg" alt>
          <img src= "./assets/img4.jpeg" alt>
          <img src= "./assets/forum.jpg" alt>
        </div>
      </div>
    </div>
  </body>
</div>
