<img id= "logo" src= "./assets/logo.jpg" alt>

<div>
  <app-barre-de-recherche></app-barre-de-recherche>
</div>

<br>

<div class="container page-wrap">
  <header id= "header">
        <ul>
          <li class= "active"><a routerLink= "/accueil"> <span>ACCUEIL</span></a></li>
          <li><a routerLink= "offres"> <span>OFFRES</span></a></li>
          <li><a routerLink= "cours"> <span>AIDES AUX DEVOIRS</span></a></li>
          <li><a routerLink= "forum"> <span>FORUM</span></a></li>
        </ul>
  </header>

  <body style="margin-top: -50px;">
    <br>
    <div class= 'caroussel_diapo'>
      <input checked id= "carou_un" name= "rotation" type= "radio">
      <label for= "carou_un"></label>
      <input id= "carou_deux" name= "rotation" type= "radio">
      <label for= "carou_deux"></label>
      <input id= "carou_trois" name= "rotation" type= "radio">
      <label for= "carou_trois"></label>
      <input id= "carou_quatre" name= "rotation" type= "radio">
      <label for= "carou_quatre"></label>
      <div class= "contenu_carou">
        <div class= "caroussel">
          <img src= "./assets/livres.jpg" alt>
          <img src= "./assets/cours.jpg" alt>
          <img src= "./assets/forum.jpg" alt>
          <img src= "./assets/img4.jpeg" alt>
        </div>
      </div>
    </div>
  </body>
</div>
