<app-barre-de-recherche></app-barre-de-recherche>

<br>

<div class="container">

  <h1 class="center">Votre profil<span role="img" aria-label="Clipboard"> 📋</span></h1>

  <div class="container1">
    <img id="photo" src="./assets/user.png" alt="">

    <!--<ng-container *ngFor="let item of userList">
      <img id="photo" src="{{item.photo}}" alt="">
    </ng-container>-->
  </div>

  <div class="container2">
    <label class="center">Exemple1 </label><br>
    <label class="center">Exemple2 </label><br>
    <label class="center">Exemple3 </label><br>
    <label class="center">Exemple4 </label><br>

    <!--<ng-container *ngFor="let item of userList">
        <p><strong>Nom: </strong>{{item.lastName}}</p>
        <p><strong>Prenom: </strong>{{item.firstName}}</p>
        <p><strong>Email: </strong>{{item.quantity}}</p>
        <p><strong>Date de naissance: </strong>{{item.birth_date}}</p>
        <p><strong>Année d'étude: </strong>{{item.study_level}}</p>
        <p><strong>Année d'étude: </strong>{{item.study_level}}</p>
        <p><strong>Etablissement: </strong>{{item.establishment}}</p>
    </ng-container>-->
  </div>

  <div class="container3">
    <h1 class="center">Offres déposées </h1><br>
  </div><br>

  <div class="container3">
    <h1 class="center">Cours mis en ligne </h1><br>
  </div>

</div>
