<app-barre-de-recherche></app-barre-de-recherche>

<br>

<div class="container">

  <h1 class="center">Votre profil<span role="img" aria-label="Clipboard"> 📋</span></h1>

  <div class="container1">
    <ng-container>
      <img id="photo" src="{{user.photo}}" alt="">
    </ng-container>

  </div>

  <div class="container2">

    <ng-container >
        <p><strong>Nom: </strong>{{user.lastName}}</p>
        <p><strong>Prenom: </strong>{{user.firstName}}</p>
        <p><strong>Email: </strong>{{user.email}}</p>
        <p><strong>Date de naissance: </strong>{{user.birthDate}}</p>
        <p><strong>Année d'étude: </strong>{{user.studyLevel}}</p>
        <p><strong>Etablissement: </strong>{{user.establishment}}</p>
      <p><strong>Certificate: </strong>{{user.certificateRegist}}</p>

    </ng-container>

  </div>

  <div class="container3">
    <h1 class="center2">Offres déposées </h1><br>
    <ng-container *ngFor="let prod of product" >
      <p><strong>Nom du produit: </strong>{{prod.name }}
      <strong> Description: </strong>{{prod.description}}
      <strong>Prix: </strong>{{prod.price}}
      <strong>Quantité: </strong>{{prod.quantity}}</p>

  </ng-container>
  </div><br>

  <div class="container3">
    <h1 class="center2">Cours mis en ligne </h1><br>
  </div>

</div>
