<nav class = "navbar">
  <div class="nav">
    <img class= "brand-logo"  src= "./assets/logo.png" alt>
  </div>
  <ul class="links-container">
    <li class= "link-item"><a class= "link" href= ""> ACCUEIL</a></li>
    <li class= "link-item" ><a class= "link" href= "/produits"> OFFRES</a></li>
    <li class= "link-item"><a class= "link" href= "cours"> AIDES AUX DEVOIRS</a></li>
    <li class= "link-item"><a class= "link" href= "forum"> FORUM</a></li>
  </ul>
</nav>


<div class="container">

  <h1>Votre profil<span role="img" aria-label="Clipboard"> 📋</span></h1>

  <div class="container1">
    <img id="photo" src="./assets/user.png" alt="">

    <!--<ng-container *ngFor="let item of userList">
      <img id="photo" src="{{item.photo}}" alt="">
    </ng-container>-->
  </div>

  <div class="container2">
    <label>Exemple1 </label><br>
    <label>Exemple2 </label><br>
    <label>Exemple3 </label><br>
    <label>Exemple4 </label><br>

    <!--<ng-container *ngFor="let item of userList">
        <p><strong>Nom: </strong>{{item.lastName}}</p>
        <p><strong>Prenom: </strong>{{item.firstName}}</p>
        <p><strong>Email: </strong>{{item.quantity}}</p>
        <p><strong>Date de naissance: </strong>{{item.birth_date}}</p>
        <p><strong>Année d'étude: </strong>{{item.study_level}}</p>
        <p><strong>Année d'étude: </strong>{{item.study_level}}</p>
        <p><strong>Etablissement: </strong>{{item.establishment}}</p>
    </ng-container>-->
  </div>

  <div class="container3">
    <label>Offres déposées </label><br>
  </div><br>

  <div class="container3">
    <label>Cours mis en ligne </label><br>
  </div>

</div>
